* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: #a1b9fb;
    margin: 0;
}

.container1 {
    background-color: #ecef91;
    display: inline-block;
    position: absolute;
    left: 0px;
    top: 0px;
    height: 150px;
    width: 200px;
    padding: 20px;
    font-size: 30px;
}

.container2 {
    background-color: #2155CD;
    display: inline-block;
    position: absolute;
    height: 150px;
    width: 200px;
    padding: 20px;
    right: 0px;
    font-size: 30px;
}

a:hover {
    color: rgb(0, 51, 255);
}

.container3 {
    background-color: #6fac55;
    height: 150px;
    width: 200px;
    position: absolute;
    top: 190px;
    left: 240px;
    padding: 20px;
    font-size: 30px;
}

.container4 {
    background-color: #92eca1;
    display: inline-block;
    position: absolute;
    height: 150px;
    width: 200px;
    padding: 20px;
    top: 380px;
    left: 0px;
    font-size: 30px;
}

.container5 {
    background-color: #FEE2C5;
    height: 150px;
    width: 200px;
    display: inline-block;
    position: absolute;
    padding: 20px;
    top: 380px;
    right: 0px;
    font-size: 30px;
}

.maindiv {
    position: relative;
    height: 450px;
    width: 720px;
    margin: 0px auto 0px auto;
}